http://maps.hanming.li, http://maps.lihanming.cn {
	# basicauth {
	# 	jason $2a$14$bVTLIhMXUXKCFfrC5ZYale5ezNvvH30ilIG0kaObjm9OO3CWjaa4e # feb8cfd9
	# }
	handle /api* {
		reverse_proxy http://100.74.34.39:8000
	}
	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}
}
